@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**********mysustom***********/
h1.price {
  padding-top: 0;
}
/* .main-container.portfolio-wraper {
  height: 100vh;
} */

.portfolio-wraper h1 {
  color: white;
  font-size: 45px;
  padding-top: 100px;
  line-height: 66px;
}


.wrapper img {
  width: 100%;
}

.top-mover-card {
  display: flex;
  justify-content: space-between;
}
.top-mover-link {
  width: 86%;
}
.overlay {
  --gradient-color: rgb(255 255 255 / 0%), rgba(255, 255, 255, 0) !important;
}

.wrapper {
  color: wheat;
}
.ticker-athlete-image-div {
  width: 11%;
}
/*********customend**********/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: #081427;
}
.toggle-btn {
  position: relative;
  z-index: 999999;
  cursor: pointer;
  color: white;
  display: none;
}
.contactsection {
margin-left:455px;
padding: 40px 68px;
/* height: 100vh; */
}
.sticky-nav  {
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: 453px;
  padding-right: 0;
  padding-left: 0;
  left: 0;
  padding-top: 40px;
  padding-left:46px;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
  background: transparent !important;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: column !important;
  width: 100%
}
.row>* {
  width: auto;
}
.me-auto.navbar-nav a {
  width: 100%;
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  height: 80px;
  width: 100% !important;
}
.me-auto.navbar-nav a:hover {
  color:#21CE99;
}
.me-auto.navbar-nav .active {
  border-right: 5px solid #21CE99;
  background: linear-gradient(270deg, rgba(91, 244, 154, 0.9) 0%, rgba(91, 244, 154, 0.3) 0%, rgba(190, 247, 213, 0) 99.56%);
}
.sticky-nav .container-fluid {
  width: 100%;
}
.me-auto.navbar-nav a img {
  margin-right: 12px;
}
.sticky-nav img.imgs {
  width: 320px;
  height: 48px;
  margin-bottom:67px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
}
.icon-pic {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.icon {
  margin-right: 20px;
}
.input input {
  background: #FFFFFF;
  border: 0;
  height: 60px;
  padding: 9px 32px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 500%;
  display: flex;
  align-items: center;
  color: #00000047;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col1-coins {
  width: 49%;
}
.col2 {
  width: 49%;
}
.box-item {
  cursor: pointer;
  background: radial-gradient(104.81% 457.29% at 0% 0%, rgba(73, 0, 89, 0.5) 0%, rgba(41, 63, 141, 0.5) 95.76%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 20px;
  display: flex;
  margin-bottom: 30px;
  padding: 40px;
  align-items: center;
}
.title h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 110%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px 0 5px;
}
.title p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #21CE99 !important;
  margin: 0px;
}
p.minus {
  color: #FF4D2D !important;
}
.graphs {
  padding: 0 30px;
  width: 50%;
}
.graphs img {
  width: 150px;
  height: 50px;
}
.url {
  width: 112px;
  height: 38px;
  background: #21CE99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  width: 35%;
}
.url:hover {
background: #FF4D2D;
}
.url a{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 110%;
/* identical to box height, or 18px */

text-transform: uppercase;
text-decoration:none;
color: #FFFFFF;
}
.col2 img {
  width: 100%;
  object-fit: cover;
}
.stats {
  background: #ffffff1c;
  border-radius: 20px;
  padding: 30px;
}
.stats .titles h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: white;
}
.listings ul li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  list-style:none;
  color: white;
  margin-bottom: 20px
}
.listings ul {
  padding: 0px;
  width: 24%;
}
.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btns {
  background: #5DF291;
  box-shadow: 0px 0px 20px rgba(89, 239, 158, 0.5);
  border-radius: 60px;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px 0;
}
.btns a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0.07em;
  color: #000000;
  text-decoration: none;
}
.about-us {
  background: #ffffff1c;
  border-radius: 20px;
  padding: 30px;
}
.about-us p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 224%;
  color: #FFFFFF;
}
.about-us h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0px;
}
dic.butn-flex {
  display: flex;
flex-wrap: wrap;
}
dic.butn-flex .btns {
  width: 146px;
}
dic.butn-flex .btns:nth-child(1) {
  margin-right:30px;
}
.box-item.newitemextra {
  height: 95px;
  background: transparent;
}
.stats-img {
  margin-bottom: 20px;
}
.btns:hover {
  background: #FF4D2D;
}
.btns:hover a{
  color: white;
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}
.graphs img {
  width: 100%;
  object-fit: scale-down;
}
button.btn.btn-primary.mb-5 {
  display: none;
}
.toggle-btnnull, .closednull {
  display:none;
}
.toggle-btnnull i, .closednull i{
  color: white;
}
.react-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-row .box-sizes img, .graph img {
  width: 100%;
  cursor: pointer;
}
.react-tabs__tab-list {
  width: 49%;
  padding: 0px;
  list-style: none;
}
.test {
  width: 49%;
}
.col2 {
  width: 100%;
}
.sticky-nav {
  z-index: 9999999 !important;
}
.closedactive {
  z-index: 99999999 !important;
}


.sticky-nav i{cursor:pointer;}
.box-sizes.stats h1 {
  padding: 0px;
  margin: 0px;
  font-size: 40px;
}
h1.price {
  font-size: 60px !important;
}
.box-sizes.stats p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.graphone {
  margin: 30px 0;
}
.graphone img{
 cursor:pointer;
}
.buying h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.buying h2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 60px;

color: #FFFFFF;
}
a.learn-more {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  text-decoration-line: underline;
  color: #59EF9E;
}
.box-sizes, .box-small, .bytype{
  margin-bottom: 30px;
}
.transaction.stats ul li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 167%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.transaction ul {
  padding: 0px !important;
  margin: 0px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.heading h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.box-small h2{   
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color:white;
  }
  .colsml {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 48%;
    background: white;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}
.colsml .title h3 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 133%;
}
.green p, .red p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 119%;
}
p.high, p.low{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 137%;
}
.colsml .graphs {
  padding: 0;
  width: 46%;
}
.colsml .title {
  width: 60%;
}
.colsml h3,   .colsml  p{
  color:black;
}
.colsml .graphs img {
  width: 100%;
  object-fit: cover;
  height: auto;
}
.box-small h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color:white;
}
.heading-top {
  margin-bottom: 30px;
}
.transaction ul li:hover span.price-amt {
  color: #59EF9E;
  cursor:pointer;
}
.sm-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/*********footer***********/

.wrapper {
	color: white;
	width: 200px;
	margin: 0 0.5em;
	padding: 0.5em;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-box;
	display: inline-flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-o-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

div#foot {
  border-top: 1px solid #ffffff26;
  border-bottom: 1px solid #ffffff26;
}
.ticker-athlete-image-div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  border-radius:50%;
}
.green-int{
  color:#21ce99;
}
.red-int{
  color:#ff4d2d;
}
.top-mover-card {
	display: flex;
	justify-content: space-between;
}
.ticker-athlete-image-div {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.top-mover-link {
	width: 79%;
}
.top-mover-athlete-name, .top-mover-change-data{
  font-size: 14px;
  line-height: 26px;
}
.heading img {
  cursor: pointer;
}
.graphs img {
  cursor: pointer;
}
/*********end************/

@media screen and (max-width: 1440px) {
  .box-item {
    padding: 20px;
}
.title h3 {
  font-size: 16px;
}
.title p {
  font-size: 16px;
}
.sticky-nav img.imgs {
  width: 100%;
  height: auto;
}
.sticky-nav {
  max-width: 300px;
}
.contactsection {
  margin-left: 300px;
}
}

@media screen and (max-width:999px) {

.closedactive {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 28px;
  left: 375px;
}

.closedactive  i {
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px !important;
  background: linear-gradient(270deg, rgba(91, 244, 154, 0.9) 0%, rgba(91, 244, 154, 0.3) 0%, rgba(190, 247, 213, 0) 99.56%);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.closedactive  i{color:white;}
.closedactive {
  display: block;
}
.toggle-btnnull {
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px !important;
  background: linear-gradient(270deg, rgba(91, 244, 154, 0.9) 0%, rgba(91, 244, 154, 0.3) 0%, rgba(190, 247, 213, 0) 99.56%);
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  position: absolute;
  top: 30px;
  left: 15px;
}
.main-home .row, .main-container.portfolio-wraper .row {
  justify-content: flex-end;
}
  .toggle-btn {
    display: block;
    margin-left: 6px;
}
.sticky-nav {
  display: none;
}

.sticky-nav.active {
  display: block;
}
.btns {
  width: 100%;
}
.toggle-btn i {
  font-size: 25px;
  margin-top: 91px;
  margin-left: 6px;
  position: absolute;
}
.sticky-nav.active {
  overflow: hidden;
}
.toggle-btn.active {
  position: fixed;
}

  .sticky-nav img.imgs {
    width: auto;
    height: auto;
}
  button.btn.btn-primary.mb-5 {
    display: block;
  }
  .collapse:not(.show) {
    display: block;
}
  .box-item.newitemextra {
    display: none;
}
.title h3 {
  font-size: 20px;
}
.title p {
  font-size: 16px;
}
.title {
  width: 50%;
}
.graphs {
  padding: 0;
}
.url {
  width: 100%;
}
.box-item {
  flex-wrap: wrap;
}
.url {
  width: 100%;
  margin: 30px auto 0;
}
.listings ul {
  padding: 0px;
  width: 50%;
}
dic.butn-flex .btns {
  width: 100%;
}
dic.butn-flex .btns:nth-child(1) {
  margin-right: 0;
}
.sticky-nav {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.sticky-nav {
  /* position: static; */
  max-width: 500px;
  left: 0;
  width: 400px;
  left: 0;
  transition: all 0.5s ease;
  z-index: 88;
  background: #081427;
  height: 100vh;
  overflow-y: auto;

}

.navbar {
  padding: 0;
}
.input {
  width: 50%;
}
/* .icon-pic {
  width: 50%;
  justify-content: flex-end;
} */
.xtrahide {
  display: none;
}
.xtrashow {
  display: block;
  padding: 0 15px;
}
.input input {
  width: 100%;
  height: 40px;
}
.input {
  width: 100%;
  
}
.box-item {
  padding: 20px;
}
.url {
  margin: 20px auto 0;
}
.xtrashow {
  display: block;
  top: 87px;
  position: absolute;
  right: 0px;
  /* background: white; */
}
.input input {
  width: 100%;
  height: 40px;
  border: 1px solid #80808030;
}
.toggle-btn i.fa.fa-search {
  margin: 0px;
  position: static;
}
  .contactsection {
    padding: 20px 15px;
    /* width: 100%; */
    margin-left: 0;

}

.col1-coins, .col2 {
  width: 100%;
}
.input input {
  width: 100%;
}
}
@media screen and (max-width:800px) {
ul.react-tabs__tab-list, .test {
  width: 100%;
}
.react-tabs__tab-list {
  width: 100%;
}
.stats {
  width: 100%;
  margin-bottom: 20px;
}
.colsml {
  width: 100%;
  margin-bottom: 20px;
}
.colsml:last-child {
  margin-bottom: 0px;
}


}
@media screen and (max-width:599px) {
  .box-sizes.stats h1 {
    font-size: 30px;
    line-height: 45px;
}
.buying h3, .heading h2 {
  font-size: 25px;
}
h1.price, .buying h2 {
  font-size: 40px !important;
}
.transaction.stats ul li {
  font-size: 16px;
}
.stats {
  padding: 20px;
}
.box-small h2 {
  font-size: 25px;
  line-height: 26px;
}
.box-small h4 {
  font-size: 16px;
}
.sticky-nav {
  /* position: static; */
  max-width: 290px;
  width: 290px;
}
.me-auto.navbar-nav a {
  font-size: 16px;
  height: 50px;
}
.closedactive {
  left: 265px;
  top:20px;
}
.sticky-nav img.imgs {
  width: 200px;
}
}

